---
import type { PixelInfo } from '~/data/pixels'

export interface Props {
  info: PixelInfo
}

const { info } = Astro.props
---

<div class="space-y-2">
  <h4>
    <span>{info.name}</span>

    <span class="whitespace-nowrap">
      <code class="text-base" title="Pixel type">{info.type}</code>

      <code class="text-base" title="Pixel coordinates">
        x: {info.x}, y: {info.y}
      </code>
    </span>
  </h4>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>HEX</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      {
        info.options.map((option) => {
          const value = option.color.toString(16).padStart(6, '0')

          return (
            <tr>
              <td>
                {value === '000000' ? (
                  <i class="fas fa-ban text-red-500" title="Transparent" />
                ) : (
                  <div class="size-4 rounded-full border border-zinc-500/50" style={{ backgroundColor: `#${value}` }} />
                )}
              </td>

              <td>
                <code title={value === '000000' && info.type !== 'RAW' ? 'Transparent' : ''}>
                  #{value === '000000' ? '------' : value}
                </code>
              </td>

              <td>{option.label}</td>
            </tr>
          )
        })
      }
    </tbody>
  </table>
</div>
