---
import { MenuEntries } from '@/data/menu';
import { addBase } from '@/utils/addBase';
import { isPathEqual } from '@/utils/isPathEqual';
import classes from './Header.module.css';

function mapEntries<T>(cb: (name: string, path: string) => T) {
  return MenuEntries.map(({ name, path }) => cb(name, addBase(path)));
}
---

<header class={classes.Header}>
  <!-- Logo -->
  <a href={import.meta.env.BASE_URL}>
    <img
      class={classes.Logo}
      src="/assets/logo.png"
      alt="Mine Little Pony logo"
      loading="eager"
    />
  </a>

  <input class={classes.NavState} id="nav-state" type="checkbox" hidden />

  <label class={classes.NavLabel} for="nav-state">
    <i class:list={[classes.LabelIconClosed, 'fas fa-bars fa-xl']}></i>
    <i class:list={[classes.LabelIconOpen, 'fas fa-xmark fa-xl']}></i>
  </label>

  <!-- The navigation -->
  <nav class={classes.Nav}>
    {
      mapEntries((name, path) => (
        <a
          class:list={[
            classes.Link,
            { current: isPathEqual(path, Astro.url.pathname) },
          ]}
          href={path}
        >
          {name}
        </a>
      ))
    }
  </nav>
</header>
