---
import type { PixelInfo } from '~/data/pixels'
import { color2strings } from '~/utils/color'

export interface Props {
  info: PixelInfo
}

const { info } = Astro.props
const transparentHint = info.options.length > 1 ? 'Transparent' : 'Any color'
---

<div class="space-y-2">
  <h4>
    <span>{info.name}</span>

    <span class="whitespace-nowrap">
      <code class="text-base" title="Pixel type">{info.type}</code>

      <code class="text-base" title="Pixel coordinates">
        x: {info.x}, y: {info.y}
      </code>
    </span>
  </h4>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>HEX</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      {
        info.options.map((item) => {
          const strings = color2strings(item.color, info.type === 'CONDENSED')
          const isTransparent = !item.color

          return (
            <tr>
              <td>
                <div
                  class:list={['size-4 rounded-full border border-zinc-500/50', isTransparent && 'bg-checker-3']}
                  style={{ backgroundColor: strings.hex }}
                />
              </td>

              <td>
                <code title={isTransparent ? transparentHint : undefined}>{strings.display}</code>
              </td>

              <td>{item.label}</td>
            </tr>
          )
        })
      }
    </tbody>
  </table>
</div>
