---
import type { PixelInfo } from '~/data/pixels'
import { hex } from '~/utils/color'

export interface Props {
  info: PixelInfo
}

const { info } = Astro.props
const hexMinLength = info.type === 'CONDENSED' ? 2 : 6
const transparentHint = info.options.length > 1 ? 'Transparent' : 'Any color'

function normalizeColor(color: number) {
  if (!color) return

  let result = color

  if (info.type === 'CONDENSED') {
    for (let i = 0; i < 3; i++) {
      result = (result << 8) | color
    }
  }

  return hex(result)
}
---

<div class="space-y-2">
  <h4>
    <span>{info.name}</span>

    <span class="whitespace-nowrap">
      <code class="text-base" title="Pixel type">{info.type}</code>

      <code class="text-base" title="Pixel coordinates">
        x: {info.x}, y: {info.y}
      </code>
    </span>
  </h4>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>HEX</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      {
        info.options.map((item) => {
          const isTransparent = !item.color

          return (
            <tr>
              <td>
                <div
                  class:list={['size-4 rounded-full border border-zinc-500/50', isTransparent && 'bg-checker-3']}
                  style={{ backgroundColor: normalizeColor(item.color) }}
                />
              </td>

              <td>
                <code title={isTransparent ? transparentHint : undefined}>
                  {isTransparent ? '-------' : hex(item.color, hexMinLength)}
                </code>
              </td>

              <td>{item.label}</td>
            </tr>
          )
        })
      }
    </tbody>
  </table>
</div>
