---
import { Image } from 'astro:assets'
import { int2hex } from '~/utils/color'

export { type ExtraInfo as Props } from '~/data/extras/extras'

const { image, alt, url, color, label, description } = Astro.props
---

<a
  href={url}
  class="flex basis-[328px] flex-col bg-white text-center text-black shadow-lg transition-transform hover:scale-105"
>
  <Image src={image} alt={alt} />

  <div
    class="flex items-center justify-center gap-2 px-6 py-2 text-lg font-bold text-white"
    style={{ backgroundColor: int2hex(color) }}
  >
    <span>{label}</span>

    <i class="fas fa-arrow-up-right-from-square fa-xs opacity-75"></i>
  </div>

  <div class="px-6 py-4">
    <p set:html={description} />
  </div>
</a>
