---
import type { MemberInfo } from '@/data/cards/team'
import SocialSites from '@/data/cards/socials'
import SocialLink from './SocialLink.astro'

export type Props = MemberInfo

const Props = Astro.props as Props

// Object.entries doesn't provide good key generics
type EntriesFn = <T>(obj: T) => [keyof T, NonNullable<T[keyof T]>][]
const entries: EntriesFn = Object.entries
---

<div class="member">
  <img src={Props.avatar} alt={`${Props.name}'s avatar`} class="member__avatar" />

  <div class="member__content">
    <div class="member__title">
      <span class="member__name">{Props.name}</span>

      {Props.nickname !== undefined &&
      <code class="member__nickname" title="Minecraft nickname">{Props.nickname}</code>
      }
    </div>

    {Props.social !== undefined && <div class="member__social">
      {entries(Props.social).map(([site, username]) => (
      <SocialLink className={"member__" + site}
        prefix="fab"
        icon={SocialSites[site].icon}
        href={SocialSites[site].url(username)}
        title={SocialSites[site].title}
      />))}
    </div>}

    <div class="member__description">{Props.description}</div>
  </div>
</div>

<style lang="scss">
  .member {
    // 3 lines * line-height (1.5)
    --avatar-size: 4.5em;

    border: 1px solid #dedede;
    border-radius: var(--border-radius);
    padding: var(--margin);

    display: flex;
    gap: var(--margin);

    &__avatar {
      border-radius: 50%;
      object-fit: cover;

      width: var(--avatar-size);
      height: var(--avatar-size);
    }

    &__title {
      display: flex;
      align-items: baseline;
      gap: 0.5em;
    }

    &__name {
      font-weight: 700;
    }
  }
</style>
