---
import type { PixelInfo } from '@/data/pixels';
import Select from '../Select.astro';

export type Props = PixelInfo

const Props = Astro.props as Props
---

<div class="pixel" data-type={Props.type} data-x={Props.x} data-y={Props.y}>
  {() => { switch (Props.type) {
  case 'CONDENSED': return <Select max={3} options={Props.options} />
  case 'NORMAL': return <Select max={1} options={Props.options} />
  case 'RAW': return <input class="pixel__input" type="color" />
  }}}
</div>
