---
import type { ExtraCard } from '@/data/cards/extra'

export type Props = ExtraCard

const Props = Astro.props
const color = `#${(Props.color & 0xffffff).toString(16).padStart(6, '0')}`
---

<a class="extra" href={Props.url}>
  <img src={`/home/extra/${Props.image}.png`} class="extra__image" />
  <div class="extra__label" style={`background-color: ${color};`}>
    {Props.label}
  </div>
  <div class="extra__description" set:html={Props.description} />
</a>

<style lang="scss">
  @use '../../styles/mixins';

  .extra {
    background: white;
    box-shadow: var(--drop-shadow);
    display: block;
    color: black;
    text-align: center;
    text-decoration: none !important;

    flex-basis: 328px;

    display: flex;
    flex-direction: column;

    @include mixins.hover {
      transform: translateY(-2px);
    }

    &__image {
      width: 100%;
    }

    &__label {
      color: white;
      font-weight: bold;
      padding: calc(var(--margin) / 2);
    }

    &__description {
      padding: var(--margin);
    }
  }
</style>
