---
import classes from './DerpibooruImage.module.css';

export interface Props {
  id: number;
  src: string;
  alt: string;
}

const { id, src, alt } = Astro.props;
---

<a href={`https://derpibooru.org/images/${id}`} title={`Derpibooru: ${id}`}>
  <img class={classes.Image} src={src} alt={alt} />
</a>
