---
import Icon from './Icon.astro'

export interface Props {
  className: string
  type: astroHTML.JSX.ButtonHTMLAttributes['type']
  icon: string
  title: string
  hidden?: boolean
  disabled?: boolean
  spin?: boolean
}

const Props = Astro.props
---

<button
  class={`icon-button ${Props.className}`}
  type={Props.type}
  title={Props.title}
  hidden={Props.hidden}
  disabled={Props.disabled}
>
  <Icon
    className="icon-button__icon"
    icon={Props.icon}
    spin={Props.spin}
    size="45%"
  />
</button>

<style lang="scss">
  .icon-button {
    padding: 0;

    min-width: var(--input-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
