---
import type { PixelInfo } from '@/data/pixels'
import Icon from '../Icon.astro'

export type Props = PixelInfo

const Props = Astro.props as Props
---

<div class="pixel">
  <div class="pixel__description">
    <strong>{Props.label}</strong> determines {Props.determines}
  </div>

  <div class="pixel__info">
    <code>{Props.type}</code>
    <code>x: {Props.x}, y: {Props.y}</code>
  </div>

  <div class="pixel__options">
    {
      Props.options.map((option) => {
        const value = option.value.padStart(6, '0')

        return (
          <div class="pixel__option">
            {value === '000000' ? (
              <Icon className="pixel__color-icon" icon="fa6-solid:ban" />
            ) : (
              <div
                class="pixel__color-preview"
                style={`background-color: #${value};`}
              />
            )}

            <code class="pixel__color-code">
              #{value === '000000' ? '------' : option.value}
            </code>

            <div class="pixel__color-label">{option.label}</div>
          </div>
        )
      })
    }
  </div>
</div>

<style lang="scss">
  .pixel {
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) / 2);

    &__info {
      display: flex;
      gap: 0.5em;
    }

    &__option {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    &__color {
      &-preview {
        border: 1px solid #7f7f7f;
        border-radius: 50%;

        width: 1em;
        height: 1em;
      }

      &-icon {
        color: tomato;
      }

      &-code {
        font-family: monospace;
      }
    }
  }
</style>
